@charset "UTF-8";

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-LightItalic.ttf");
	font-weight: 300;
	font-style: italic;
}

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-Light.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-Black.ttf");
	font-weight: 900;
	font-style: normal;
}

@font-face{
	font-family:'Merriweather';
	src: url("typos/Merriweather/Merriweather-HeavyItalic.ttf");
	font-weight: 900;
	font-style: italic;
}

@font-face{
	font-family:'NYT';
	src: url("typos/NYT/NYT.ttf");
	font-weight: 900;
	font-style: italic;
}

body 
{
	margin:0;
	padding:0;
	background-color: #fff;
	background-image: url('backgrounds/fond.png');
	background-repeat: repeat;
}


a{
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	text-decoration: underline;
}

h1{
	font-weight: 100;
}

span, i{
	font-family:'Merriweather', serif;
	font-size: 12px;
}

p{
	color:#000;
}

.citation{
	font-family:'Merriweather', serif;
	font-style: italic;
	font-size: 16px;
}

.btn_ins, .copyright{
	font-family:'Merriweather', serif;
	font-style: italic;
	font-size: 13px;
}

.formulaires_wrapper{
	background-color:#550000;
	background-image: url("backgrounds/fond_rouge.png");
	background-repeat: repeat;
	width:100%;
	padding-top:20px;
	padding-bottom:40px;
	text-align: center;
	box-shadow: inset 0px -2px 20px rgba(0,0,0,0.3);
	overflow:hidden;
	clear:both;
}

.formulaires_content{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	color:white;
}

.wrapper, .colonne{
	width:50%;
	float:left;
}

.wrapper_membre_1{
	width:60%;
	float:left;
}

.wrapper_membre_2{
	width:40%;
	float:left;
}

.wrapper_content, .colonne_wrapper{
	width:100%;
}

.wrapper_content_inner, .colonne_inner_wrapper{
	margin:0px 20px 0px 20px;
	padding:5px;
}

.content_admin{
	max-width:800px; 
	margin-left: auto; 
	margin-right:auto; 
	margin-top:50px; 
	text-align:center;
}

.champ, .champ_blanc
{
	background-color:#440000;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:1px solid rgba(255,255,255,0.2);
	width:100%;
	box-sizing: border-box;
	margin:5px 0px 5px 0px;
	padding:10px 10px 10px 10px;
	float:left;
	color:rgba(255,255,255,0.6);
}

.champ_blanc
{
	background-color: rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	color:#000;
}

.image_profil{
	border-radius: 5px;
	float:left;
	width:50%;
	margin-bottom:20px;
}

.image_profil img{
	overflow: hidden;
	width:100%;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.button
{
	background-color:#330000;
	color:#fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
	border:0;
	width:100%;
	margin-top:5px;
	padding:10px 0px 10px 0px;
	text-align: center;
	cursor: pointer;
}


.button_slide_wrapper, .content{
	max-width:960px;
	margin: 0 auto;
}

.content{
	padding:20px 0px 20px 0px;
	color:#550000;
	clear:both;
	overflow: hidden;
	display:table;
	width:100%;
}

.button_slide{
	background-color:#550000;
	color:white;
	padding:7px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	float: right;
	text-align: center;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}

.button_slide:hover{
	background-color:#330000;
}

header{
	background-image:url('backgrounds/fond_header_4.jpg');
	background-repeat: repeat-x;
	background-size: 5% 100%;
	width:100%;
}

.header_wrapper{
	margin-left: auto;
	margin-right: auto;
	padding:40px 10px; 
	max-width:900px;
	text-align: center;
	color:#550000;
}

.header_wrapper_inner{
	width:100%;
}

.title{
	font-family:'Merriweather', serif;
	font-weight: 700;
	font-size: 42px;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
	color:#000;
}

.ligne{
	height:1px;
	width:100%;
	background-color: rgba(85,0,0,0.3);
	margin:10px 0px 10px 0px;
}

.ligne_blanc{
	height:1px;
	width:100%;
	background-color: rgba(255,255,255,0.3);
	margin:10px 0px 10px 0px;
}

.menu_wrapper{
	background-color: #550000;
	background-image: url('backgrounds/fond_rouge.png');
	background-repeat: repeat;
	color:#fff;
	width:100%;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.4);
}

.menu_content{
	max-width:960px;
	margin: 0 auto;
	overflow:hidden;
	clear:both;
}

.menu_content div{
	width:33.3%;
	float:left;
	text-align: center;
	cursor: pointer;
	padding:10px 0px;
}

.menu_content div:hover{
	background-color: rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.6);
}

.button:hover{
	background-color: rgb(45,0,0);
}

.colonne_1{
	width:70%;
	float:left;
}

.colonne_1_comment{
	width:20%;
	float:left;
}

.colonne_2{
	width:30%;
	height:100%;
	float:left;
}

.colonne_2_comment{
	width:80%;
	float:left;
}

.colonne_2 .colonne_inner_wrapper, .colonne_2_comment .colonne_inner_wrapper{
	background-color: rgba(150,150,150,0.3);
	padding:20px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 15px rgba(0,0,0,0.2);
}

.poll_ul{
	margin-left: 0px;
	padding-left: 0;
	list-style: none;
}

.poll_ul li{
	margin-top:20px;
	margin-bottom:20px;
}

.barre_rep{
	height:20px;
	background-color: #500;
	border-radius: 2px;
	width:auto;
	text-align:right;
	color:white;
	padding:0px 2px;
}

footer{
	background-color:#550000;
	background-image: url('backgrounds/fond_rouge.png');
	background-repeat: repeat;
	width:100%;
	padding-top:20px;
	padding-bottom:40px;
	box-shadow: inset 0px -2px 20px rgba(0,0,0,0.3);
	overflow:hidden;
	clear:both;
	color:#fff;
}

.sous_titre{
	font-family:'Merriweather', serif;
	font-weight: 600;
	font-style: italic;
	font-size:26px;
}

.sous_titre_2{
	font-family:'Merriweather', serif;
	font-weight: 300;
	font-style: italic;
	font-size:18px;
}

textarea{
	resize:none;
	font-family:'Arial', serif;
	padding: 10px;
	width:100%;
	box-sizing: border-box;
}

.time_arch{
	font-size:14px;
}

.haut_footer{
	clear:both;
	overflow:hidden;
}

.bas_footer{
	text-align: center;
}

.footer_wrapper{
	max-width:900px;
	margin:0 auto;
}

.colonne_footer{
	width:33.3%;
	float:left;
}


@media only screen and (max-width: 640px) {

	.menu_content div{
		width:100%;
		float:none;
		text-align: center;
		cursor: pointer;
		padding:10px 0px;
	}

	.wrapper_membre_1, .wrapper_membre_2{
		width:100%;
	}

	.wrapper, .colonne, .colonne_footer{
		width:100%;
		float:none;
	}

	.colonne_1, .colonne_2, .colonne_1_comment, .colonne_2_comment{
		width:100%;
		float:none;
	}

}